.app_background {
  background-color: var(--background-main);
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 48px;
  margin-bottom: 40px;
}
.app_btn {
  max-width: 235px;
  margin: 0 auto;
}
