*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  --background-main: rgba(242, 242, 242, 1);
  --button: rgba(80, 218, 168, 1);
  --background-card: rgba(255, 255, 255, 1);
  --text-color: rgba(0, 0, 0, 1);
  font-family: "Open Sans", sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
